* {
	font-family : "Arial";
	font-size : 14px;
	color : white;
	offset : 0 0;
	border : none;
	background-color : transparent;
}

button {
	background-color : gradient(#434343, #4B4B4B, #383838, #3A3A3A);
	border : 1px solid gradient(#A0A0A0,#909090,#707070,#606060);
	padding : 5px;
}

button:hover {
	background-color : gradient(#282828,#2A2A2A,#333333,#3B3B3B);
	border : 1px solid gradient(#606060,#606060,#707070,#606060);
	margin-top : 1px;
	padding-bottom : 4px;
}

box {
	layout : inline;
	spacing : 5 5;
}

:inline {
	layout : inline;
}

:horizontal {
	layout : horizontal;
}

:vertical {
	layout : vertical;
}

:absolute {
	layout : absolute;
}

:dock {
	layout : dock;
}

box.panel {
	background-color : gradient(#303030,#353535,#202020,#252525);
}

slider {
	width : 100px;
	height : 3px;
	margin : 7px 5px;
	background-color : #252525;
	border : 1px solid gradient(#434343, #4B4B4B, #383838, #3A3A3A);
}

slider button, slider button:hover {
	margin-top : -4px;
	padding : 5px 2px;
}

checkbox {
	width : 9px;
	height : 9px;
	color : #fff;
	margin-top : 3px;
	tick-spacing : 2px;
	tick-color : gradient(#C0C0C0,#B0B0B0,#888888,#707070);
	border : 1px solid gradient(#A0A0A0,#909090,#707070,#606060);
	background-color : gradient(#303030,#252525,#252525,#252525);
}

itemlist {
	padding : 5px;
	vertical-spacing : 3px;
	cursor-color : #333;
	selection-color : #000;
	border : 1px solid gradient(#A0A0A0,#909090,#707070,#606060);
	background-color : gradient(#303030,#252525,#252525,#252525);
}

input {
	width : 80px;
	height : 16px;
	padding : 3px;
	border : 1px solid gradient(#A0A0A0,#909090,#707070,#606060);
	background-color : gradient(#303030,#252525,#252525,#252525);
}

input:focus {
	border : 1px solid white;
	cursor-color : white;
}
