.mybox {
	background: #080;
	padding: -10;
}

view.mybox {
	padding: 10;
}

container {
	max-width: 300;
	layout: vertical;
}

button {
	background: #333;
	fill-width: true;
	height: 30;
}

button.highlight {
	background: #a33;
}

button text {
	align: middle middle;
}

button:hover {
	background: #444;
}

button:active {
	background: #222;
}