.jqpage div, .jqpage a, .jqpage li, .jqpage td, .jqpage th, .dialog-floating div, .dialog-floating a, .dialog-floating li, .dialog-floating td, .dialog-floating th {
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
}
.jqpage panel, .dialog-floating panel {
	display : block;
	overflow : auto;
}
.jqpage pre, .dialog-floating pre {
	user-select : text;
	-moz-user-select : text;
	-webkit-user-select : text;
}
.jqpage pre .kwd, .dialog-floating pre .kwd {
	color : #1518FF;
}
.jqpage pre .meta, .dialog-floating pre .meta {
	color : #156018;
}
.jqpage .panel, .dialog-floating .panel {
	overflow : auto;
	background-color : white;
}
.jqpage #log, .dialog-floating #log {
	font-family : Courier;
}
.jqpage #log .line, .dialog-floating #log .line {
	padding : 1px 3px;
	user-select : all;
	-moz-user-select : all;
	-webkit-user-select : all;
}
.jqpage #log .line:nth-child(even), .dialog-floating #log .line:nth-child(even) {
	background-color : #eee;
}
.jqpage ul.toolbar, .dialog-floating ul.toolbar {
	color : #AAA;
	background-color : #333;
	border-top : 1px solid black;
	border-bottom : 1px solid black;
}
.jqpage ul.toolbar li, .dialog-floating ul.toolbar li {
	padding : 5px;
	display : inline-block;
	zoom : 1;
	*display : inline;
	border : 1px solid #555;
}
.jqpage ul.toolbar li:hover, .dialog-floating ul.toolbar li:hover {
	color : white;
	background-color : #555;
	border-color : white;
}
.jqpage ul.toolbar li.active, .dialog-floating ul.toolbar li.active {
	color : white;
}
.jqpage .panel .scrollable, .dialog-floating .panel .scrollable {
	height : 100%;
	overflow : auto;
}
.jqpage .panel ul.elt.root, .dialog-floating .panel ul.elt.root {
	padding : 5px;
}
.jqpage .panel ul.elt, .dialog-floating .panel ul.elt {
	background-color : transparent;
}
.jqpage .panel ul.elt li, .dialog-floating .panel ul.elt li {
	cursor : pointer;
}
.jqpage .panel ul.elt li>i, .dialog-floating .panel ul.elt li>i {
	text-align : center;
	width : 16px;
}
.jqpage .panel ul.elt li>.content, .dialog-floating .panel ul.elt li>.content {
	margin-left : 2px;
	display : inline-block;
	zoom : 1;
	*display : inline;
	height : 18px;
}
.jqpage .panel ul.elt li .content:hover, .dialog-floating .panel ul.elt li .content:hover {
	background-color : #eee;
}
.jqpage .panel ul.elt ul, .dialog-floating .panel ul.elt ul {
	padding-left : 20px;
}
.jqpage .panel ul.elt li.selected>.content, .dialog-floating .panel ul.elt li.selected>.content {
	background-color : #eee;
}
.jqpage .panel.scene ul.elt li.hidden, .dialog-floating .panel.scene ul.elt li.hidden {
	opacity : 0.5;
	filter : alpha(opacity=50);
	zoom : 1;
}
.jqpage .panel.scene ul.elt li.culled>.content, .dialog-floating .panel.scene ul.elt li.culled>.content {
	opacity : 0.5;
	filter : alpha(opacity=50);
	zoom : 1;
	font-style : italic;
}
.jqpage .panel.scene .elt.root.masked li.hidden, .jqpage .panel.scene .elt.root.masked li.culled, .dialog-floating .panel.scene .elt.root.masked li.hidden, .dialog-floating .panel.scene .elt.root.masked li.culled {
	display : none;
}
.jqpage .panel>ul.buttons, .dialog-floating .panel>ul.buttons {
	color : #AAA;
	background-color : #333;
	border-right : 1px solid black;
	float : left;
	width : 25px;
	height : 100%;
}
.jqpage .panel>ul.buttons li, .dialog-floating .panel>ul.buttons li {
	padding : 5px;
	display : inline-block;
	zoom : 1;
	*display : inline;
	border : 1px solid #555;
}
.jqpage .panel>ul.buttons li:hover, .dialog-floating .panel>ul.buttons li:hover {
	background-color : #555;
	border-color : white;
}
.jqpage .panel>ul.buttons li.active, .dialog-floating .panel>ul.buttons li.active {
	color : white;
}
.jqpage table.iprops tr.pgroup, .dialog-floating table.iprops tr.pgroup {
	cursor : pointer;
}
.jqpage table.iprops tr.pgroup th, .dialog-floating table.iprops tr.pgroup th {
	text-align : left;
	background-color : #555;
	color : #bbb;
	font-weight : bold;
	padding : 2px 4px;
	cursor : pointer;
}
.jqpage table.iprops tr.disable, .dialog-floating table.iprops tr.disable {
	opacity : 0.5;
	filter : alpha(opacity=50);
	zoom : 1;
}
.jqpage table.iprops td, .dialog-floating table.iprops td {
	height : 24px;
}
.jqpage table.iprops td input, .jqpage table.iprops td select, .dialog-floating table.iprops td input, .dialog-floating table.iprops td select {
	padding-left : 0px;
	height : 18px;
	border : 1px solid #888;
	width : 100%;
}
.jqpage table.iprops tr.active td, .dialog-floating table.iprops tr.active td {
	font-weight : bold;
}
.jqpage table.iprops tr.ptexture img, .dialog-floating table.iprops tr.ptexture img {
	max-width : 128px;
	max-height : 128px;
}
.jqpage table.iprops tr.pcolor td .modal, .dialog-floating table.iprops tr.pcolor td .modal {
	opacity : 0;
	filter : alpha(opacity=0);
	zoom : 1;
}
.jqpage table.iprops tr.pcolor td .color, .dialog-floating table.iprops tr.pcolor td .color {
	display : inline-block;
	zoom : 1;
	*display : inline;
	width : 20px;
	height : 20px;
	border : 2px solid white;
	outline : 1px solid black;
}
.jqpage #stats table, .dialog-floating #stats table {
	cursor : default;
	width : 100%;
}
.jqpage #stats table tr th.button, .dialog-floating #stats table tr th.button {
	cursor : pointer;
}
.jqpage #stats table tr th.title, .dialog-floating #stats table tr th.title {
	font-size : 14px;
	text-align : left;
	background-color : #555;
	color : #bbb;
	font-weight : bold;
	padding : 2px 4px;
	border-bottom : 1px solid #888;
}
.jqpage #stats table tr th, .dialog-floating #stats table tr th {
	text-align : left;
	background-color : #333;
	color : #eee;
	font-weight : bold;
	padding : 2px 4px;
	height : 24px;
}
.jqpage #stats table tr th i, .dialog-floating #stats table tr th i {
	color : #eee;
}
.jqpage #stats table tr th div, .dialog-floating #stats table tr th div {
	float : right;
}
.jqpage #stats table tr.subMem th, .dialog-floating #stats table tr.subMem th {
	font-weight : normal;
	overflow : hidden;
	background-color : #eee;
	color : black;
	border-bottom : 1px solid #ccc;
}
.jqpage #stats table tr.subMem th div, .dialog-floating #stats table tr.subMem th div {
	float : right;
}
.jqpage #stats table th.debug, .dialog-floating #stats table th.debug {
	background-color : white;
	font-weight : normal;
	color : #333;
	font-style : italic;
	border : none;
}
